<div class="container">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <h3 appCenter>Create Course</h3>
            <div class="form-group">
                <label>Course ID</label>
                <input class="form-control" id="courseID" name="courseID" type="number" placeholder="Enter Course ID"
                    [(ngModel)]="model.courseID">
            </div>
            <div class="form-group">
                <label>Course Name</label>
                <input class="form-control" id="name" name="name" type="text" placeholder="Enter Username"
                    [(ngModel)]="model.name" required>
            </div>
            <div class="form-group">
                <label>Course Department</label>
                <input class="form-control" id="department" name="department" type="text" [(ngModel)]="model.department"
                    required>
            </div>
            <div class="form-group">
                <label>Course Description</label>
                <textarea class="form-control" id="description" name="description"
                    [(ngModel)]="model.description">Enter the course description</textarea>
            </div>
            <div class="form-group">
                <label>Course ID prerequisite</label>
                <input class="form-control" id="username" name="username" type="number" placeholder="Enter Username"
                    [(ngModel)]="model.prereqCourseID" required>
            </div>
            <br>
            <div class="modal-footer">
                <button class="btn btn-blue" (click)="addCourse()">Add</button>
                <button class="btn btn-success" (click)="updateCourse()">Update</button>
            </div>
        </div>
    </div>
</div>




<!-- 
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
<button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
></button>
</div>
<div class="modal-body">
<form ngForm>
    <div class="modal-body">
        <div class="form-group">
            <label>Course ID</label>
            <input class="form-control" id="courseID" name="courseID" type="number"
                placeholder="Enter Course ID" 
                [(ngModel)]="model.courseID">
        </div>
        <div class="form-group">
            <label>Course Name</label>
            <input class="form-control" id="name" name="name" type="text"
                placeholder="Enter Username" [(ngModel)]="model.name" required>
        </div>
        <div class="form-group">
            <label>Course Department</label>
            <input class="form-control" id="department" name="department" type="text" 
            [(ngModel)]="model.department" required>
        </div>
        <div class="form-group">
            <label>Course Description</label>
            <textarea class="form-control" id="description"
                name="description"
                [(ngModel)]="model.description">Enter the course description</textarea>
        </div>
        <div class="form-group">
            <label>Course ID prerequisite</label>
            <input class="form-control" id="username" name="username" type="number"
                placeholder="Enter Username" [(ngModel)]="model.prereqID" required>
        </div>
    </div>
    <br>
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="createUpdateCourse()">Submit</button>
    </div>
</form>
</div> -->