<table class="table">
  <thead>
    <tr>
      <th scope="col" style="width:10%">Course ID</th>
      <th scope="col" style="width:40%">Title</th>
      <th scope="col" style="width:30%">Professor</th>
      <th scope="col" style="width:20%">Grade</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let course of grades | keyvalue">
      <th scope="row">{{course.key.courseID}}</th>
      <td>{{course.key.name}}</td>
      <td>{{course.key.professorID}}</td>
      <td>{{course.value.grade}}</td>
    </tr>
  </tbody>
</table>