<div class="col-md-12">
    <h3 appCenter>Courses</h3>
    <br>
    <div class="container">
        <div class="row">
            <div *ngFor="let course of getData" class="col-md-4">
                <div class="card" style="margin-bottom: 16px">
                    <div class="card-header p-2">
                        ID: {{course.courseID}}
                    </div>
                    <div class="card-body p-2">
                        <h3 class="card-text">{{course.name}}</h3>
                        <p class="card-text">Department: {{course.department}}</p>
                        <p>{{course.description}}</p>
                    </div>
                    <div class="card-footer p-2">
                        <div class="container p-0">
                            <div class="row">          
                                <div *ngIf="course.professor == null" class="d-inline-flex flex-row-reverse">
                                    <button type="button" class="btn-sm btn-blue p-1" (click)="applyToCourse(course)">Apply</button>
                                </div>
                                <div *ngIf="course.professor != null" class="d-inline-flex flex-row-reverse">
                                    <button type="button" disabled class="btn-sm btn-outline-primary p-1" >Unavailable</button>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
