<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <button class="btn btn-block btn-light">
                    <a type="button" href="#create-professor" data-toggle="modal" data-target="#create-professor"
                        style="font-size: 20px;" title="Create Professor">
                        <div class="mb-1" style="text-align: center;">
                            Create Course <i class="fa fa-plus"></i>
                        </div>
                    </a>
                </button>
            </div>
        </div>
    </div>

    <!------Create professor modal-->
    <div id="create-professor" class="modal fade login">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header myheader">
                    <h2 class="modal-title">Create Professor</h2>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <!--action form-->
                    <form action="" method="POST" id="login">
                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" id="name" name="name" type="text"
                                placeholder="Enter Professor name" required>
                        </div>
                        <div class="form-group">
                            <label>Username</label>
                            <input class="form-control" id="username" name="username" type="text"
                                placeholder="Enter Username" required>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input class="form-control" id="password" name="password" type="password"
                                placeholder="Enter Password" required>
                        </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" name="login-submit" id="login-submit">Create
                        Professor</button>
                </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>