<div class="container">
    <div class="row">
        <div class="col-md-3">
            <select class="form-select" id="studentSelect" (change)="getStudents($any($event.target.value))">
                <option selected value=0>Select Course</option>
                <option *ngFor="let course of courses" value="course.courseID">{{course.name}}</option>
            </select>
        </div>
        <div class="col-md-9">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" style="width:10%">Student ID</th>
                        <th scope="col" style="width:45%">Student Name</th>
                        <th scope="col" style="width:35%">Grade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let grade of grades">
                        <th scope="row">{{grade.student.studentId}}</th>
                        <td>{{grade.student.name}}</td>
                        <td *ngIf="!checkId(grade.student.studentID)">{{grade.grade}}<button type="button" class="btn-sm btn-primary p-1" (click)="editTogle(grade.student.studentID)">Edit</button> </td>
                        <td *ngIf="checkId(grade.student.studentID)"><input class="form-control" id="grade" name="grade" type="number"
                            [(ngModel)]="model"><button type="button" class="btn-sm btn-primary p-1" (click)="editTogle(grade.student.studentID)">Done</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>