<div class="col-md-12">
    <h3>Courses</h3>
    <br>
    <div class="container">
        <div class="row">
            <div *ngFor="let course of getData" class="col-md-4">
                <div class="card" style="margin-bottom: 16px">
                    <div class="card-header">
                        ID: {{course.id}}
                    </div>
                    <div class="card-body">
                        <h3 class="card-text">{{course.name}}</h3>
                        <p class="card-text">Department: {{course.department}}</p>
                        <p>{{course.description}}</p>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary" (click)="saveInfo(course)">Edit</button>&nbsp;
                        <button type="button" class="btn btn-danger" (click)="deleteCourse(course)">Delete</button>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>