<app-header></app-header>
<div class="p-5 mb-4 bg-light rounded-3 professor-bg">
    <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold" appCenter>Professor Portal</h1>
      <p class="fs-4" appCenter>View Courses, Apply to Course, Register Grades</p>
      <!-- <h1 class="display-5 fw-bold" style="text-align:center">Student Portal</h1>
      <p class="fs-4" style="text-align:center">register, drop, view courses, check grades, and make payments</p> -->
      <!-- <h1 class="display-5 fw-bold" style="text-align:center">Professor Portal</h1>
      <p class="fs-4" style="text-align:center">Apply to course, view students, and record grades</p> 
    <a class="btn btn-primary m-2" [routerLink]="['/viewcourses']">View Courses</a>
  <a class="btn btn-primary m-2" [routerLink]="['/viewstudents']">View Students</a>-->
    </div>
  </div>
<div class="d-flex justify-content-center">
    <a class="btn btn-blue m-2" [routerLink]="['/professordashboard/viewcourses']">View Courses</a>
    <a class="btn btn-blue m-2" [routerLink]="['/professordashboard/viewstudents']">View Students</a>  
</div>
<hr>
<router-outlet></router-outlet>

