<div>
    <a class="btn btn-primary m-2" [routerLink]="['/admindashboard/listcourse']">List Courses</a>
    <a class="btn btn-primary m-2" [routerLink]="['/admindashboard/courseform']">Create Course</a>
    <a class="btn btn-primary m-2" [routerLink]="['/admindashboard/listprofessor']">List Professors</a>
    <a class="btn btn-primary m-2" [routerLink]="['/admindashboard/professorform']">Create Professor</a>
    <a class="btn btn-primary m-2" [routerLink]="['/admindashboard/listunregisteredstudent']">Approve Registrations</a>
    <router-outlet></router-outlet>
</div>
