
    <!-- <h1 class="display-5 fw-bold">Admin Portal</h1>
    <p class="col-md-8 fs-4">Add, update, delete courses, register professor and approve student registrations</p> -->
    <!-- <h1 class="display-5 fw-bold" style="text-align:center">Student Portal</h1>
    <p class="fs-4" style="text-align:center">register, drop, view courses, check grades, and make payments</p> -->
    <!-- <h1 class="display-5 fw-bold" style="text-align:center">Professor Portal</h1>
    <p class="fs-4" style="text-align:center">Apply to course, view students, and record grades</p> -->

<!-- 
    
  <a class="btn btn-primary m-2" [routerLink]="['/listcourse']">List Courses</a>
  <a class="btn btn-primary m-2" [routerLink]="['/courseform']">Create Course</a>
  <a class="btn btn-primary m-2" [routerLink]="['/listprofessor']">List Professors</a>
  <a class="btn btn-primary m-2" [routerLink]="['/professorform']">Create Professor</a>
  <a class="btn btn-primary m-2" [routerLink]="['/listunregisteredstudent']">Approve Registrations</a>
 -->
<!-- <div class="d-flex justify-content-center">
  <a class="btn btn-primary m-2" [routerLink]="['/viewallcourses']">List All Courses</a>
  <a class="btn btn-primary m-2" [routerLink]="['/viewappliedcourses']">List Applied Courses</a>
  <a class="btn btn-primary m-2" [routerLink]="['/checkgrades']">Check Grades</a>
</div> -->
<!-- <div class="d-flex justify-content-center">
  <a class="btn btn-primary m-2" [routerLink]="['/viewcourses']">View Courses</a>
  <a class="btn btn-primary m-2" [routerLink]="['/viewstudents']">View Students</a>
</div> -->

<!-- <button class="btn btn-primary" (click)="openModal()">Open modal</button> -->

<router-outlet></router-outlet>
