<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Admin Portal</h1>
    <p class="col-md-8 fs-4">Add, update, delete courses, register professor and approve student registrations</p>
  </div>
</div>
<div class="container">
  <app-list-course></app-list-course>
  <app-list-professor></app-list-professor>
  <app-list-unregistered-student></app-list-unregistered-student>
</div>
<button class="btn btn-primary" (click)="openModal()">Open modal</button>

<app-create-course-modal></app-create-course-modal>